*{
	margin:0;
	padding:0;
}
body{
	background:url(../images/site-bg4.jpg);
	font: 13px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;

}
#main,#top{
	width:900px;
	margin:0 auto;
}
/* .header{
	background-color: #94C448;
	
	min-width: 900px;
	z-index: 300;
	border-bottom: 1px solid #83AF40;
	box-shadow: 1px 0 2px #000000;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	height: 40px;
	position: relative;
} */
a{
	text-decoration:none;
	color:#088253;
}
.float{
	float:left;
}
.success{
	float:left;
	color:red;
}

/* a:hover{
	text-decoration:underline;
} */

/* 返回顶部 */
p#back-to-top{
	position:fixed;
	bottom:20px;
	left:50%;
	margin-left:455px;
}
p#back-to-top a{
	text-align:center;
	text-decoration:none;
	color:#d1d1d1;
	display:block;
	width:80px;

/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/

	-moz-transition:color 1s;
	-webkit-transition:color 1s;
	-o-transition:color 1s;
}
p#back-to-top a:hover{
	color:#979797;
}
p#back-to-top a span{
	background:#d1d1d1 url(../images/arrow-up.png) no-repeat center center;
	border-radius:6px;
	display:block;
	height:80px;
	width:80px;
	margin-bottom:5px;

	/*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/

	-moz-transition:background 1s;
	-webkit-transition:background 1s;
	-o-transition:background 1s;
}
#back-to-top a:hover span{
	background:#979797 url(../images/arrow-up.png) no-repeat center center;
}


#header_top {
	height: 50px;
	padding-top:20px;
	background: url('../images/content_header_bg.gif');
	box-shadow: 1px 0 2px #000000;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}

#searchbox{
	float:left;
	width:248px;
	margin:3px 0 0 20px;
}
#search{
	float: left;
	width: 160px;
	padding: 8px;
	background-color: #FAF7F7;
	border: 1px solid #BEBEBE;
	box-shadow: inset 0 0 4px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1);
	font-size: 13px;
	-moz-border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}
#submit{
	float:left;
	padding:8px 12px;
	border: 1px solid #BEBEBE;
	border-left:none;
	background: -webkit-linear-gradient( #FFFCFC, #F0EDED);
	background: -moz-linear-gradient(top, #FFFCFC, #F0EDED);
	background: -o-linear-gradient( #FFFCFC, #F0EDED);
	background: -webkit-linear-gradient( #FFFCFC, #F0EDED);
	-moz-border-radius:0 4px 4px 0;
	-webkit-border-radius:40 4px 4px 0;
	border-radius:0 4px 4px 0;
	box-shadow: inset 0 0 4px rgba(0,0,0,.1);
	box-shadow: inset 0 0 4px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1);
	cursor:pointer;
	color:#6F6F6F;
}
#top ul{
	float:left;
	margin:9px 0 0;
	font-size:14px;
}
#top ul a{
	color:#ffffff;
}
#top li{
	display:inline;
	padding:10px 0px 0px;
}
#top .user_nav li{
	margin:0 5px;
}
/* #top .user_tag{
	float:right;
	margin-right:40px;
}
#top .user_tag li{
	margin-left:10px;
} */

.user_tag{
		overflow: hidden;
		width: 20px;
		height: 20px;
		display: block;
		text-indent: -999px;
		background:url(../images/header.png) no-repeat 0 -32px;
}
.logo{
	float:left;
	width:151px;
	height:47px;
	background:url(../images/logo.png) no-repeat;
	margin-top:4px;
}


/* 分页 */
#more{
	float:left;
	width:640px;
	margin-top:20px;
}
.load_more {
	background-color:#FFFFFF;
	background-image:url(../images/more.gif);
	background-position:left top;
	background-repeat:repeat-x;
	border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
	border-style:solid;
	border-width:1px;
	display:block;
	font-size:14px;
	font-weight:bold;
	height:22px;
	line-height:1.5em;
	margin-bottom:6px;
	outline:medium none;
	padding:6px 0;
	text-align:center;
	text-shadow:1px 1px 1px #FFFFFF;
	width:100%;
}
.load_more {
	-moz-border-radius:5px 5px 5px 5px;
}
.load_more:hover {
	background-position:left -78px;
	border:1px solid #BBBBBB;
	text-decoration:none;
}
.load_more:active {
	background-position:left -38px;
	color:#666666;
}






.product{
	min-height:160px;
	margin:8px 0 12px 0;
	padding:16px;
}
.product,.left,.right,.footer,.user_left,.user_right,.ks-waterfall,.tags_tab a,.tag_link,.product_tab,.product_b{
	background-color: white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
/* 	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; */
}
.pinfo{
	float:left;
	width:152px;
	margin:0 15px 10px 0;
}
.pinfo img{
	width:150px;
	height:120px;
	border:#DBDBDB 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}


.info p{
	margin:8px 0 12px;
	line-height:18px;
}
/* .keep{
	margin-left:10px;
	font:13px/18px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
} */
.tags{
	margin-bottom:12px;
}
.tags a{
	color: #FDFDFD;
	background: #C9E07E;
	padding: 3px 8px;
	margin-right:10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
.tags a:hover{
	background: #94C448;
	text-decoration: none;
}




.left,.user_left{
	float:left;
	width: 640px;
}
.right,.footer,.user_right{
	float:left;
	width:246px;
	margin-left:14px;
	padding:14px 0;
}

.user_pic{
	position:absolute;
}
.author{
	margin-left:46px;
	line-height:18px;
}
.author p{
	font-weight:bolder;
}
.author span{
	color:#999999;
}
.content{
	padding:8px 0;
}
.comment_box,.user_box{
	float:left;
	width:608px;
	border-bottom:#CDCBCB 1px solid;
	padding:16px;
}

.bar{
	float:left;
	width:100%;
}

.bar span{
	float:right;
	border:#DFDFDF 1px solid;
}
.bar span:hover{
	border:#BFB1A3 1px solid;
/* 	border-radius: 2px;
	box-shadow: 0 1px 2px #e1e1e1;
	border-image: initial; */
}
.bar a{
	color: #9E8C7B;
	text-shadow: 0px 1px 0px white;
	padding: 5px 15px;
 /*	background: #F6F6F6;
	background: -moz-linear-gradient(top, #F9F9F9 0%, #F6F6F6 47%, #EDEDED 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(47%,#F6F6F6), color-stop(100%,#EDEDED));
	background: -webkit-linear-gradient(top, #F9F9F9 0%,#F6F6F6 47%,#EDEDED 100%);
	background: -o-linear-gradient(top, #F9F9F9 0%,#F6F6F6 47%,#EDEDED 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%,#F6F6F6 47%,#EDEDED 100%); */
}
.bar a:hover{
	color:#887664;
}
/* .up a{
	padding: 5px 15px 5px 33px;
	background: url(../images/web15.png) no-repeat 0 -30px;
}
.down a{
	padding: 5px 15px 5px 33px;
	background: url(../images/web15.png) no-repeat -80px -30px;
	margin: 0 214px 0 10px;
} */
.bar .down,.bar .up,.bar .yes,.bar .no{
	float:left;
}
.down,.no{
	margin-left:10px;
}
.comment{
	margin-right:10px;
}
.down a,.up a,.yes a,.no a{
	padding: 5px 15px 5px 33px;

}

.up a{
	background: url(../images/web15.png) no-repeat 0 0;
}
.yes,.no{
	background:#F3EFE7;
	box-shadow: 0 1px 2px #D6C9BC inset;
    -moz-box-shadow: 0 1px 2px #D6C9BC inset;
    -webkit-box-shadow: 0 1px 2px #D6C9BC inset;
}




.up a:hover{
	background: url(../images/web15.png) no-repeat 0 -30px;
}
.down a{
	background: url(../images/web15.png) no-repeat -80px 0;
}

.down a:hover{
	background: url(../images/web15.png) no-repeat -80px -30px;
}
.yes a,.yes a:hover{
	background: url(../images/web15.png) no-repeat 0 -60px;
	color:#BF4131;
}
.no a,.no a:hover{
	background: url(../images/web15.png) no-repeat -80px -60px;
	color:#BF4131;
}
.comments{
	float: left;
	margin: 16px 0 0;
	width:610px;
	background: url(../images/comment_bg.png) repeat-x;
}
.comment_p{
	float: left;
	width:610px;
	border-bottom: 1px dotted #DDDDDD;
	padding:6px 0;
	color: #666;
}

.comment_p li {
	display: inline;
	line-height: 18px;
}
.comment_p .time{
	color:#999999;
}
.comment_p_top{
	width: 19px;
	height: 12px;
	position:relative;
	bottom:9px;
	left:450px;
	z-index: 1;
	background: url(../images/bubble.png) no-repeat;
}
.i_comment textarea,.add_box textarea{
	width: 598px;
	max-width:600px;
	line-height:22px;
	min-height: 66px;
	overflow: visible;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: white;
	border: 1px solid #CCC;
	padding: 4px 5px;
	color: #333;
	border-image: initial;
}
.i_comment textarea{
	float: left;
	margin: 16px 0;
}
.submit,.follow{
	padding: 8px 26px;
	background: #5ECA16;
	background: -moz-linear-gradient(top,#5ECA16 0,#54B514 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5ECA16),color-stop(100%,#54B514));
	background: linear-gradient(top,#5ECA16 0,#54B514 100%);
	-webkit-box-shadow: 0 1px 0 rgba(243,243,243,.5) inset,0 1px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(243,243,243,.5) inset,0 1px 0 rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 0 rgba(234,234,234,.5) inset,0 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(234,234,234,.5) inset,0 1px 0 rgba(0,0,0,.2);
	text-shadow: 0 1px 0 rgba(234,234,234, .3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #4FB00F;
	color:#FFFFFF;
	border-image: initial;
}
.submit:hover,.follow:hover{
	background: #6EDA26;
	background: -moz-linear-gradient(top,#6EDA26 0,#64C524 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6EDA26),color-stop(100%,#64C524));
	background: linear-gradient(top,#6EDA26 0,#64C524 100%);
}
.submit:active,.follow:active{
    position:relative;
    top:1px
}

.pinfo .follow{
	padding:5px 0;
	width:150px;
	display:block;
	margin-top:-6px;
	text-align: center;
	font: normal 14px/22px "Helvetica Neue",Arial,sans-serif;
}

.submit{
	margin-left:10px;
	cursor: pointer;
}
.button_box{
	text-align:right;
}
.button_box span{
	cursor: pointer;
}
.answer_box{
	margin-top:12px;
}



/* right */
.sort{
	float:left;
	background:#EEEEEE;
	width:616px;
	padding: 2px 12px 0px;
	border-bottom: #DDD 1px solid;
}
.user_left .sort{
padding: 0px 12px 5px;
}
.sort a{
	float:left;
	padding: 4px 13px 4px;
	position:relative;
	top:6px;
}
.sort span{
	float:right;
	cursor: pointer;
	line-height: 36px;
}

.sort .active{
	background:#FFFFFF; 
	border:#dddddd 1px solid;
	border-bottom:none;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0; 
}

#parameter{
	padding:16px;

}
.guess_3c{
	padding:10px 0;
}
/* 评分 */
.star{
    width:124px;
    height:27px;
    background: url(../images/star.png) 0 0;
    cursor:pointer;
    position:relative;
}
.level0{background-position:-0px -0px;}
.level1{background-position:0px -29px;}
.level2{background-position:0px -58px;}
.level3{background-position:0px -87px;}
.level4{background-position:0px -116px;}
.level5{background-position:0px -145px;}


.u_like li{
	width:246px;
	list-style:none;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #ECECEC;
}
.u_like a{
	display: block;
	min-height: 28px;
	line-height: 30px;
	position: relative;
	padding: 0 5px 0 13px;
	background: #F5F5F5;
	background:-moz-linear-gradient(#F5F5F5, #EFEFEF) repeat scroll 0 0 transparent;
	background:-webkit-linear-gradient(#F5F5F5, #EFEFEF);
	background:-o-linear-gradient(#F5F5F5, #EFEFEF);
	color: #999;
	border-right: 4px solid transparent;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	-webkit-transition: border 0.2s ease;
	transition: border 0.2s ease;
}
.u_like a:hover{
	color:#545454;
	background: #F0F1F2;
	border-right: 4px solid #545454;
}
.status p{
	color:#999999;
}
.status{
	margin:10px 0 0 10px;
}
.status span{
	font-size:14px;
	font-weight:800;
	position:relative;
	bottom:10px;
	left:6px;
}

.f_user img{
	float: left;
	position:relative;
	width:25px;
	height:25px;
	margin:3px 3px 0 0;
}

.right h3{
	padding-left:7px;
}


.footer{
	width:226px;
	margin-top:22px;
	padding:10px;
}
.footer a{
	color:#999999;
}
#add{
padding:96px 61px 97px 61px;

}
/* .tag{
	display: inline-block;
	padding: 3px 8px;
	color: #555;
	border: 1px solid #DEDEDE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	border-image: initial;

	border-color: #DEDEDE #D8D8D8 lightGrey;
	text-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	background: white;
	background: -moz-linear-gradient(top, white 0%, #F6F6F6 47%, #EDEDED 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(47%,#F6F6F6), color-stop(100%,#EDEDED));
	background: -webkit-linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	background: -o-linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	background: -ms-linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	background: linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
}
.tag:hover{
	background: #EDEDED;
} */

/* login */
#email,#password{
	font: 14px/16px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: white;
	border: 1px solid #CCC!important;
	padding: 7px 5px!important;
	color: #333;
}




/* users */
.user_left,.user_right{
	margin-top: 8px;
}
.user_right{
	margin:8px 14px 0 0;
	position: relative;
	zoom: 1;
}
.user_box{
	width:608px;

}
.user_box h3{
	font-weight: bold;
	font-size: 14px;
}
.user_box h3 a,.user_img h2{
	color:#0C9DD5;
}
.user_img{
	text-align:center;
}
.user_img h2{
	font-family:"Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}
.push{
	color:#999999;
}
.push p{
	margin-left:12px;
	margin-top:6px;
	color:#000;
}
.user_img{
	padding:0 13px 13px;
	border-bottom: #CDCBCB 1px solid;
}
.panel{
	float:left;
	padding:13px;
}
.nologin{
	float:right;
	padding:16px 0 6px 0;
}
.nologin a{
	margin-right:15px;
}
.panel .follow{
	float:left;
	padding:5px 0;
	width:104px;
	margin-right:4px;
	text-align: center;
	font: normal 14px/22px "Helvetica Neue",Arial,sans-serif;
}
.message{
	margin-left:0px;
	color: #555;
	background: white;
	background: -moz-linear-gradient(top, white 0%, #F6F6F6 47%, #EDEDED 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(47%,#F6F6F6), color-stop(100%,#EDEDED));
	background: -webkit-linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	background: -o-linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	background: -ms-linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	background: linear-gradient(top, white 0%,#F6F6F6 47%,#EDEDED 100%);
	border-color: #DEDEDE #D8D8D8 lightGrey;
	text-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
	box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.message:hover{
	background: #EDEDED;
}

.follow_num {
	float:left;
	width: 220px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 13px;
	margin-bottom:13px;
}

.follow_num ul{
	list-style: none;
	height: 45px;
}
.follow_num ul li{
	float: left;
	width: 40%;
	list-style: none;
	border-right: solid 1px #DDD;
	padding-left: 15px;
}
.user_right h3{
	padding-left: 7px;
}
.user_right .footer{
	position: absolute;
	left: -14px;
}
.follow_num .follow_r{
	border-right:none;
}

.u_info a,.u_info p{
	float:left;
}
.f_info{
	float:left;
	margin-left:10px;
}
.f_info p{
	color:#999;
}
.user_box a:hover{
	text-decoration:underline;
}
.u_follow{
	float:right;
}





/* explore */
#container{
	margin-top:8px;
}
.ks-waterfall {
	position: absolute;
	width: 145px;
	overflow: hidden;
	padding: 15px;
	margin-bottom: 20px;
	text-align: center;
	left:-9999px;
	top:-9999px;
}
.ks-waterfall img{
	width:150px;
	height:120px;
}

/* tags */
.tags_box{
	font-family:'宋体';
}
.tags_tab,.product_tab{
	float:left;
	width:874px;
}
.product_tab a{
	float:right;
}
.tags_tab a,.product_tab{
	float:left;
	margin:8px 10px 10px 0;
	padding:7px 13px;
	margin-bottom:10px;
	background: whiteSmoke;
	background: -moz-linear-gradient(whiteSmoke, #EFEFEF) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(whiteSmoke, #EFEFEF);
	background: -o-linear-gradient(whiteSmoke, #EFEFEF);
}
.tag_link{
	float:left;
	padding: 15px 20px;
	margin:0 10px 10px 0;
	text-align: center;
}

/* product */
.product_box{
	float:left;
	position:relative;
	left:5px;
}
.product_b{
	float:left;
	margin:0 10px 10px 0;
}
.product_link{
	padding: 10px 10px;
	text-align: center;
}
.product_link img{
	width:150px;
	height:120px;
}
.product_f{
	color: #999;
	border-top: 1px solid #F5F2F2;
	background: #EEEEEE;
}
.product_b .follow{
	padding:5px 0;
	min-width:140px;
	display:block;
	text-align: center;
	font: normal 14px/22px "Helvetica Neue",Arial,sans-serif;
}
.product_f{
	padding: 0px 10px;
}


/* addpro */

.add_box dt,.add_box dd{
	line-height:28px;
	padding:10px;
}
.add_box .submit{
	margin:8px 0 0;
}
.input_box{
	border: 1px solid #ccc;
	padding: 2px 3px;
}

#myEditor{
	width:608px;
	padding:12px 0px 20px;
}
.edit_answer{
padding-bottom:13px;
}
.edit,#del{
	color:#999999;
	padding:1px 3px;
}
.edit:hover,#del:hover{
	background:#EEEEEE;
}



/* 确定要删除 */
.question {
	position: absolute;
	display: inline;
	text-align: center;
	width: 174px;
	height: 64px;
	font-size: 13px;
	line-height: 1.5em;
	background: #fff left top no-repeat;
	padding: 10px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
	margin-left: -7em;
	margin-top: -6em;
	opacity: 0;
	border: 1px solid #DDD;
}

.question .yes,.question .cancel {
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 63px;
	height: 21px;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	background:#4FB00F left top no-repeat;
}





/* 表单验证 */

.add_box span{color:#FF0000}
input.rightformcss,select.rightformcss{border:1px solid green;padding: 2px 3px}
textarea.rightformcss{border:1px solid green;padding: 4px 5px;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.8) inset;box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;}
.failmsg{color:#FF0000;}
.msgvaluecss{font-style:italic;}
input.failformcss,select.failformcss{border:1px solid green;padding: 2px 3px}
textarea.failformcss{border:1px solid #FF0000;padding: 4px 5px;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;}

/* 上传图片按钮 */
#uploadImg{ font-size:12px; overflow:hidden; position:absolute;}  
#file{ position:absolute; z-index:100; margin-left:-180px; font-size:40px;opacity:0;filter:alpha(opacity=0); margin-top:-5px;cursor:pointer;} 